---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
			<svg
				class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem] animate-slide"
				viewBox="0 0 1155 678">
				<path
					fill="url(#ff6100-d39d-499b-bd42-aeeafbcc24)"
					fill-opacity=".3"
					d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z">
				</path>
				<defs>
					<linearGradient
						id="ff6100-d39d-499b-bd42-aeeafbcc24"
						x1="1155.49"
						x2="-78.208"
						y1=".177"
						y2="474.645"
						gradientUnits="userSpaceOnUse">
						<stop stop-color="#003049"></stop>
						<stop offset="1" stop-color="#EAE2B7"></stop>
					</linearGradient>
				</defs>
			</svg>
		</div>
		<NavBar/>
		<div class="flex w-full items-center justify-center p-6">
			<div class="grid h-full w-full grid-cols-3 md:grid-rows-4 grid-rows-5 gap-3">
				<div class="h-80 md:col-span-2 md:row-span-1 col-span-full  flex-col border border-gray-600/50 bg-neutral-50/5 backdrop-blur rounded-[30px] flex rounded-tl-xl rounded-br-[4px]">
					<div class="pt-3 m-7 justify-start flex items-center">
						<div class="hidden md:block w-12 h-12 rounded-full  bg-slate-400/50 hover:bg-neutral-50/10 hover:border-gray-300/90 duration-200 backdrop-blur border border-white-400/50 mr-2 justify-center items-center">
						<img class="m-auto" draggable="false" src="../../public/sticker.png" alt="">
						</div>
						<p class="font-sans text-sm">
							Hi, I'm Mohsen <br>
							<span class="hidden md:block text-[12px]">Videographer | Photographer</span>
						</p>
						<div class="flex items-center ml-auto">
							<div class="w-9 h-9 rounded-md bg-neutral-50/5 hover:bg-neutral-50/5 hover:border-gray-500/90 duration-200 backdrop-blur  mr-2 flex justify-center items-center">
								<svg class="w-5 h-5" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>
							</div>
							<div class="w-9 h-9 rounded-md bg-neutral-50/5 hover:bg-neutral-50/5 hover:border-gray-500/90 duration-200 backdrop-blur mr-2 flex justify-center items-center">
								<svg class="h-5 w-5" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>							</div>
							</div>
					</div>
					<div class="m-3 ml-5 justify-center items-center">
						<div class="font-sans text-2xl ml-3 mb-5">Passionate and creative video producer</div>
						<p class="font-normal text-sm text-justify text-[#919398] ml-3 mr-16 mb-5">
							with a keen eye for storytelling and a knack for bringing ideas to life. With 8 years of experience in the industry, I thrive in fast-paced environments where I can collaborate with teams to produce engaging visual content.
						</p>
					</div>
				</div>
				<div class="md:col-span-1 md:row-span-1 sm:h-80 hidden sm:block col-span-3 hover:scale-105 duration-300 relative overflow-hidden bg-blue-100/30 border border-gray-500/50 backdrop-blur rounded-[30px] rounded-bl-[4px] rounded-tr-xl justify-center items-end">
						<img class="h-full object-cover grayscale" draggable="false" src="../../public/M.jpg" />
					</div>
				<div class="h-80 md:col-span-1 md:row-span-1 col-span-3 bg-neutral-50/5 backdrop-blur border border-gray-600/50 rounded-[30px] flex justify-center items-center relative rounded-bl-xl rounded-br-[4px] rounded-tr-[4px]">
					<div class="absolute top-0 left-0 p-7 text-white font-semibold"> Currently I'm Working at 140.</div>
	
				</div>
				<div class="h-80 md:col-span-2 md:row-span-1 col-span-3 relative bg-neutral-50/5 backdrop-blur border border-gray-600/50 rounded-[30px] flex justify-center items-center rounded-l-[4px] rounded-br-xl ">
					<!-- <img class="object-cover h-full rounded-l-[4px] rounded-br-xl rounded-[30px]" src="../../public/best.png"/> -->
				</div>

				<div class="h-80 md:col-span-2 md:row-span-1 col-span-3 bg-neutral-50/5 backdrop-blur border border-gray-600/50 rounded-[30px] justify-center items-center rounded-l-xl rounded-br-[4px]">

				</div>
				<div class="h-80 md:col-span-1 md:row-span-1 col-span-3 overflow-hidden bg-neutral-50/5 border border-gray-600/50 backdrop-blur rounded-[30px] flex justify-center items-end relative rounded-bl-[4px] rounded-tr-xl">
					<img class="absolute top-[5px] right-0 z-10 h-full animate-floatUpDown pointer-events-none" draggable="false" src="../../public/Group 7.png" />
					<div class="absolute top-0 left-0 p-5 text-white font-normal">
						Contact me<br/>
						<span class="font-normal text-sm text-justify text-[#919398]">Make a Call or email.</span>
					</div>
					<div class="absolute left-0 pb-9 pl-11 lg:pl-14 flex flex-col items-center p-3 text-white">
						<div class="w-14 h-14 rounded-md rounded-b-none bg-neutral-50/5 hover:bg-neutral-50/10 hover:border-gray-300/90 duration-200 backdrop-blur border border-gray-400/30 mr-2 flex justify-center items-center">
							<svg class="w-6 h-6" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M2 8.99374C2 5.68349 4.67654 3 8.00066 3H15.9993C19.3134 3 22 5.69478 22 8.99374V21H8.00066C4.68659 21 2 18.3052 2 15.0063V8.99374ZM14 11V13H16V11H14ZM8 11V13H10V11H8Z"></path></svg>						</div>
						<div class="w-14 h-14 rounded-md rounded-t-none bg-neutral-50/5 hover:bg-neutral-50/10 hover:border-gray-300/90 duration-200 backdrop-blur border border-gray-400/30 mr-2 flex justify-center items-center">
							<svg class="w-5 h-5" stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8"></path></svg>						</div>
						</div>
				</div>
			</div>
		</div>
		<div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
			<svg
				class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem] animate-slide"
				viewBox="0 0 1155 678">
				<path
					fill="url(#b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1)"
					fill-opacity=".3"
					d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z">
				</path>
				<defs>
					<linearGradient
						id="b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1"
						x1="1155.49"
						x2="-78.208"
						y1=".177"
						y2="474.645"
						gradientUnits="userSpaceOnUse">
						<stop stop-color="#003049">
							<animate attributeName="stop-color" values="#003049; #EAE2B7; #003049" dur="5s" repeatCount="indefinite"></animate>
						</stop>
						<stop offset="1" stop-color="#003049">
							<animate attributeName="stop-color" values="#003049; #EAE2B7; #003049" dur="5s" repeatCount="indefinite"></animate>
						</stop>
					</linearGradient>
				</defs>
			</svg>
		</div>
	</main>
</Layout>

<style>
	@keyframes slide {
		0% {
			left: calc(50% - 70rem);
			transform: rotate(0deg);
		}
		50% {
			left: calc(50% - 30rem);
			transform: rotate(-180deg);
		}
		100% {
			left: calc(50% - 70rem);
			transform: rotate(0deg);
		}
	}

	.animate-slide {
		animation: slide 25s infinite;
	}

	@keyframes floatUpDown {
		0%, 100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-5px);
		}
	}
	.animate-floatUpDown {
        animation: floatUpDown 3s ease-in-out infinite;
    }
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
