---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex w-full items-center justify-center p-6">
			<div class="grid h-full w-full grid-cols-3 md:grid-rows-3 grid-rows-6 gap-3">
				<div class="md:col-span-2 md:row-span-1 col-span-3 flex-col border border-gray-600 bg-gradient-to-r from-[#080808] to-slate-700 rounded-[30px] flex rounded-tl-xl rounded-br-[4px]">
					<div class="pt-5 m-5 justify-start flex items-center">
						<p class="font-mono text-sm">Hi, I'm Mohsen
							<br/>Videographer | Photographer
						</p>
						<div class="flex items-center ml-auto">
							<svg class="h-6 w-6 mr-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg>
							<svg class="h-7 w-7 mr-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M512 378.7c-73.4 0-133.3 59.9-133.3 133.3S438.6 645.3 512 645.3 645.3 585.4 645.3 512 585.4 378.7 512 378.7zM911.8 512c0-55.2.5-109.9-2.6-165-3.1-64-17.7-120.8-64.5-167.6-46.9-46.9-103.6-61.4-167.6-64.5-55.2-3.1-109.9-2.6-165-2.6-55.2 0-109.9-.5-165 2.6-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6 46.9 46.9 103.6 61.4 167.6 64.5 55.2 3.1 109.9 2.6 165 2.6 55.2 0 109.9.5 165-2.6 64-3.1 120.8-17.7 167.6-64.5 46.9-46.9 61.4-103.6 64.5-167.6 3.2-55.1 2.6-109.8 2.6-165zM512 717.1c-113.5 0-205.1-91.6-205.1-205.1S398.5 306.9 512 306.9 717.1 398.5 717.1 512 625.5 717.1 512 717.1zm213.5-370.7c-26.5 0-47.9-21.4-47.9-47.9s21.4-47.9 47.9-47.9 47.9 21.4 47.9 47.9a47.84 47.84 0 0 1-47.9 47.9z"></path></svg>
						</div>
					</div>
					<div class="m-3 ml-5 justify-center items-center">
						<p class="font-semibold text-2xl mb-5">Passionate and creative video producer</p>
						<p class="font-normal text-sm text-justify text-[#919398] mr-16 mb-5">
							with a keen eye for storytelling and a knack for bringing ideas to life. With 8 years of experience in the industry, I thrive in fast-paced environments where I can collaborate with teams to produce engaging visual content.
						</p>
					</div>
				</div>
				<div class="md:col-span-1 md:row-span-1 col-span-3 bg-gradient-to-tr from-gray-300 to-[#1B98E0] rounded-[30px] rounded-bl-[4px] rounded-tr-xl flex justify-center items-end relative">
						<img class="absolute bottom-0 h-full" src="../../public/Group 6.png" />
				</div>
				<div class="md:col-span-1 md:row-span-1 col-span-3 bg-gradient-to-r from-emerald-500 to-emerald-900 rounded-[30px] flex justify-center items-center relative rounded-bl-xl rounded-br-[4px] rounded-tr-[4px]">
					<div class="absolute top-0 left-0 p-7 text-white font-semibold"> Currently I'm Working at 140.</div>
					<img />
				</div>
				<div class="md:col-span-2 md:row-span-1 col-span-3 relative bg-gradient-to-r from-[#fdcfcd] to-[#fe899a] border border-l-neutral-400 rounded-[30px] flex justify-center items-center rounded-l-[4px] rounded-br-xl ">
					<img class=" object-cover h-full rounded-l-[4px] rounded-br-xl rounded-[30px]" src="../../public/best.png"/>
				</div>
				<div class="md:col-span-2 md:row-span-1 col-span-3 bg-gradient-to-r from-slate-700 to-[#080808] border border-gray-600 rounded-[30px] flex justify-center items-center rounded-l-xl rounded-br-[4px]">Skills</div>
				<div class="md:col-span-1 md:row-span-1 col-span-3 bg-gradient-to-tl from-[#1B98E0] to-[#13293D] rounded-[30px] flex justify-center items-end relative rounded-bl-[4px] rounded-tr-xl">
					<img class="absolute bottom-0 h-full" src="../../public/Group 7.png" />
					<div class="absolute top-0 left-0 p-5 text-white font-bold">Contact me</div>
					<div class="absolute top-0 left-0 pt-20 pl-10 flex flex-col items-center p-3 text-white">
						<svg class="w-7 h-7 mb-5" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57a.84.84 0 0 0-.31-.05c-.26 0-.51.1-.71.29l-2.2 2.2a15.149 15.149 0 0 1-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02A11.36 11.36 0 0 1 8.5 4c0-.55-.45-1-1-1z"></path></svg>
						<svg class="w-7 h-7" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M424 80H88a56.06 56.06 0 0 0-56 56v240a56.06 56.06 0 0 0 56 56h336a56.06 56.06 0 0 0 56-56V136a56.06 56.06 0 0 0-56-56zm-14.18 92.63-144 112a16 16 0 0 1-19.64 0l-144-112a16 16 0 1 1 19.64-25.26L256 251.73l134.18-104.36a16 16 0 0 1 19.64 25.26z"></path></svg>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
