<div
 class="navbar font-medium text-[#919398] text-lg mt-5 p-6 flex justify-between items-center">
    <div class="left-text flex">
        <span class="text-white">Mohsen,</span>
        <p>video maker</p>
    </div>
    <div class="right-items">
        <a href="#" class="mr-4">Present</a>
        <a href="#" class="mr-4">Skills</a>
        <a href="#">Contact</a>
    </div>
</div>
