---
---

<div
 class="navbar font-medium text-[#919398] text-lg mt-5 p-6 flex justify-between items-center">
    <div class="left-text flex cursor-pointer">
        <span class="text-white">Mohsen, </span>
        <p>video maker</p>
    </div>
    <div class="right-items sm:block hidden">
        <a href="#present" class="mr-4 hover:text-white/90 duration-300">Present</a>
        <a href="#skill" class="mr-4 hover:text-white/90 duration-300">Skills</a>
        <a href="#contact" class="hover:text-white/90 duration-300">Contact</a>
    </div>
</div>
